// Colors
$gray-light: #d8d8d8;
$gray: #606b70;
$blue: #2eb3ba;

$border: rgba(150, 150, 150, 0.15);

// Typography
$font-family-base: Helvetica, Arial, sans-serif;
$font-family-open-cn: 'OpenSans-CondensedLight', $font-family-base;