<div class="loader module_parser">
    <form>
        <div class="loader__input-wrapper loader__input-wrapper--url">
            <input
                id="url"
                name="url"
                class="loader__input"
                data-type="url"
                data-change="change.INPUT"
                type="text">

            <label for="url" class="loader__input-overlay">
                <span class="loader__input-label" data-label="Enter URL">Enter URL</span>
            </label>
        </div>

        <div class="loader__input-wrapper loader__input-wrapper--total">
            <input
                id="total"
                name="total"
                class="loader__input"
                min="1"
                data-type="total"
                data-change="change.INPUT"
                type="number">

            <label for="total" class="loader__input-overlay">
                <span class="loader__input-label" data-label="Total">Total</span>
            </label>
        </div>

        <div class="loader__progress" data-progress data-current data-chapter></div>

        <button class="loader__btn" type="button" data-submit data-action="action.DOWNLOAD">
            <div class="loader__btn-text">Download</div>
            <span class="loader__btn-progress" data-progress-bar style="width: 0%"></span>
        </button>
    </form>
</div>
