<!DOCTYPE html>
<html>
    <% include ../partials/head.ejs %>
<body>
    <!-- MAIN CONTENT -->
    <main>
        <%- include('../' + page + '.ejs') %>
    </main><!-- // MAIN CONTENT -->

    <% include ../partials/footer.ejs %>
</body>
</html>
