.loader {
    @include center();
    width: 100%;
    max-width: 600px;
    text-align: center;

    &__input-wrapper {
        position: relative;
        margin: 0 0 30px;
    }

    &__input {
        @include transition(all, 0.25s, ease-in-out);
        padding: 15px 20px;
        width: 100%;
        height: 60px;
        font-family: inherit;
        font-size: 20px;
        font-weight: 400;
        border-radius: 2px;
        border: 1px solid $border;
        outline: none;
        color: $gray;

        &:focus,
        &.filled {
            border: 1px solid $gray-light;
            outline: none;

            &+.loader__input-overlay {
                transform: translate3d(0, 0, 0);
                -webkit-transform: translate3d(0, 0, 0);

                .loader__input-label {
                    transform: translate3d(0, 100%, 0);
                    -webkit-transform: translate3d(0, 100%, 0);
                }
            }
        }
    }

    &__input-overlay {
        @include transition(all, 0.25s, ease-in-out);
        position: absolute;
        padding: 5px;
        bottom: 100%;
        left: 15px;
        right: 0;
        font-size: 18px;
        text-align: left;
        text-transform: uppercase;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
        overflow: hidden;
        transform: translate3d(0, 130%, 0);
        -webkit-transform: translate3d(0, 130%, 0);
        color: $gray;
    }

    &__input-label {
        @include transition(all, 0.25s, ease-in-out);
        position: relative;
        display: block;
        padding: 2px;
        width: 100%;
        font-size: 18px;
        color: $gray;

        &:after {
            @include transition(all, 0.25s, ease-in-out);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 100%;
            height: 100%;
            color: $blue;
            content: attr(data-label);
        }
    }

    &__btn {
        @include transition(all, 0.3s, ease);
        position: relative;
        padding: 15px 80px;
        overflow: hidden;
        font-size: 16px;
        text-transform: uppercase;
        border: 1px solid $border;
        border-radius: 50px;
        background: transparent;
        color: $gray;
        cursor: pointer;

        &:hover {
            border-color: $blue;

            .loader__btn-text {
                color: $blue;
            }
        }

        &:disabled {
            @include transition(all, 0.4s, cubic-bezier(0.35, -0.77, 0.67, 1.88));
            padding: 0px 160px;
            border-color: $blue;
        }
    }

    &__btn-progress {
        position: absolute;
        top: 4px;
        left: 4px;
        width: calc(0% - 8px);
        height: calc(100% - 8px);
        border-radius: 50px;
        background-color: $blue;
        content: '';

        .loader__btn:disabled & {
            @include transition(all, 0.7s, ease-in-out);
            width: calc(100% - 8px);
            transition-delay: 0.5s;
            -webkit-transition-delay: 0.5s;
        }
    }

    &__btn-text {
        @include transition(all, 0.3s, ease);

        .loader__btn:disabled & {
            @include transition(all, 0.35s, cubic-bezier(0.34, -0.61, 1, 0.64));
            transform: translateY(-350%) scale(0);
            -webkit-transform: translateY(-350%) scale(0);
        }
    }
}