<!DOCTYPE html>
<html>
    <% include partials/head %>
<body>

    <form name="parserForm">
        <input type="text" name="url">
        <button type="submit">Apply</button>
    </form>

    <!-- http://mangafox.me/manga/king_of_hell/v01/c001/1.html -->
    <% include partials/footer %>
</body>
</html>