<div class="loader">
    <div class="loader__input-wrapper">
        <input id="loaderInput" class="loader__input js-io" type="text">

        <label for="loaderInput" class="loader__input-overlay">
            <span class="loader__input-label" data-label="Enter URL">Enter URL</span>
        </label>
    </div>


    <button class="loader__btn js-dl" type="button">
        <div class="loader__btn-text">Download</div>
        <span class="loader__btn-progress js-progress" style="width: 0%"></span>
    </button>
</div>